/shared
/db-sync
/content/plugins/advanced-custom-fields-pro
/content/upgrade/
/content/languages/
/content/themes/
/content/plugins/
/content/uploads/
/content/mu-plugins/
/content
.DS_Store
/.vscode
/vendor
.env
local-config.php
sql-dump-*.sql